@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
/* font-family: 'Spartan', sans-serif; */

body{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
}

.main-card img{
    max-width: 100%;
    display: block;
}

.bg-geral{
    width: 100vw;
    height: 100vh;
    background-image:url(../images/bg-pattern-bottom-desktop.svg);
    background-image:url(../images/bg-pattern-top-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.intro-flex{
    padding: 40px;
    display: flex;
    height: 40vh;
}

.intro-text{
    width: 40vw;
}

.intro-text h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 60px;
    margin-bottom: 20px;
}

.intro-text p{
    color: hsl(303, 10%, 53%);
    font-size: 1.3em;
}

.intro-rated{
    padding-top: 60px;
    padding-left:60px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.intro-rated-item{
    display: flex;
    background-color: hsl(0, 0%, 92%);
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 400px;
    
}
.star-text{
    margin-left: 10px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.item02{
    align-self: center;
}

.item03{
    align-self: flex-end;
}

/* Sessão de cards */

.main-card{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    height: 42vh;
}

.card{
    max-width: 300px;
    background-color: hsl(300, 43%, 22%);
    padding: 1.4rem;
    border-radius: 10px;
}

.card-top-flex{
    display: flex;
    margin-bottom: 20px;
}

.card img{
    border-radius: 50%;
}

.card-top-text{
    padding: 20px 0 0 20px;
}



.card-top-text h1{
    color: white;
    margin-bottom: 5px;
    font-size: 1em;
}

.card-top-text h2{
    color: hsl(303, 10%, 53%);
    font-size: 0.8em;
}

.card > p {
    color: hsl(300, 24%, 96%);
    font-weight: lighter;
    font-size: 0.8em;
    line-height: 1.4;
}

.card01{
    align-self: flex-start;
}

.card02{
    align-self:center;
}

.card03{
    align-self:flex-end;
}

