@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
/* font-family: 'Spartan', sans-serif; */

body{
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
}

.bg-geral{
    width: 100vw;
    height: 100vh;
    background-image:url(../images/bg-pattern-bottom-desktop.svg);
    background-image:url(../images/bg-pattern-top-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.intro-flex{
    padding: 40px;
    display: flex;
}

.intro-text{
    width: 40vw;
}

.intro-text h1{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 60px;
    margin-bottom: 20px;
}

.intro-text p{
    color: hsl(303, 10%, 53%);
    font-size: 1.3em;
}

.intro-rated{
    padding-top: 60px;
    padding-left:60px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.intro-rated-item{
    display: flex;
    background-color: hsl(0, 0%, 92%);
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 400px;
    
}
.star-text{
    margin-left: 10px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.item02{
    align-self: center;
}

.item03{
    align-self: flex-end;
}